<div>
<h1> Browse from the Catalog of tools listed below </h1>
<div>
    <ul>
        <% @tools.each do |tool|%>
            <li><%=tool.name%> - <%=tool.description%> - <%=tool.price%> </li>
        <%end%>
    </ul>
</div>