
<!-- Search form -->
<div>
  <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
    <input id="zip" name="zip" type="text" pattern="[0-9]*" placeholder="Location">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
      aria-label="Search">
  </form>

  <div class="container">
    <div class="row">
      <% @tools.each do |tool|%>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1567361808960-dec9cb578182?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1371&q=80" alt="Image">
              <div class="card-body">
              <p class="card-text"><%=tool.name%></p>
              <p class="card-text"><%=tool.price%></p>
              <%= link_to "See tool", tool_path(tool) %>
              </div>
            </div>
        </div>
      <%end%>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ToolBox                        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account </a>
        </li>
      </ul>
    </div>
  </nav>
    </div>
</div>

