<html>
<head>
  <meta charset="UTF-8">
  <title>ToolBox</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">


  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <button type="button" class="btn btn-outline-primary">Primary</button>
  <!-- code a Hero / Banner section -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <h1>ToolBox</h1>
    <p>the AirBnB of Tools</p>
    <a class="btn" href="/tools">click to see the available tools</a>
  </div>
</div>


  <!-- code a "How it works" section -->
  <div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1579616043939-95d87a6e8512?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
          <h4>Select your location</h4>
          <p>Based on your address, ToolBox will match you with potenial rentals a mile from your radius.</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1534190239940-9ba8944ea261?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
          <h4>Browse the active rentals</h4>
          <p>You can select from a specific category or search for the tool needed.</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1518709414768-a88981a4515d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
          <h4>Rent your Tool!</h4>
          <p>Get ready to use the selected tool for your project.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- code a footer -->
  <div class="footer">
    <div class="links">


      <p>Experience workmanship, created by Da 3 Musketeers Inc. </p>

    </div>
  </div>

</body>
</html>
