<html>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<head>
  <meta charset="UTF-8">
  <title>ToolBox</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">


  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body data-gr-c-s-loaded="true">
  <!-- code a Hero / Banner section -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=616&q=80);">
  <div class="container">
    <h1>ToolBox</h1>
    <p>AirBNB of Tools</p>
    <a class="btn" href="https://unsplash.com/s/photos/sports-cars">click to see the toold rentals</a>
  </div>
</div>


  <!-- code a "How it works" section -->
  <div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1587230541442-378d0ab8c5a5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80" alt="">
          <h4>Input your location</h4>
          <p>We match your designated tool based on your location.</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="https://c8.alamy.com/comp/F5M538/young-man-staring-into-garage-at-vintage-car-F5M538.jpg" alt="">
          <h4>Pick your category</h4>
          <p>There are 4 main caetgories to select from.</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1500264445508-89f0b98caa60?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1650&amp;q=80" alt="">
          <h4>Account Profile</h4>
          <p>As an owner or rental you can manage your rentals. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- code a footer -->
  <div class="footer">
    <div class="links">

      <a href=""><i class="fab fa-youtube"></i></a>
      <p></p>
    </div>
  </div>
</body>
</html>
